<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>ネット上で仕事を受発注できる場所</h1>
        <% unless logged_in? %>
          <a href="" class="btn btn-success btn-lg">JobMatchingを始める</a>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<p>テスト</p>
